.form-container {
    margin-top: 2rem;

    input {
        padding: 0.5rem 0.8rem;
        border: 1px solid $secondary;
        border-radius: 5px;

        &:focus {
            outline: none;
        }

        &:hover {
            border: 1px solid $primary;
            background-color: $secondary;
            color: $white;
        }

    }
}